In [115]:
# Python E0 Meet Up 04/2025. Varibles

# Naming Rules
- Must start with a letter or an underscore: my_variable, _myVariable
- Cannot start with a number: 2ndVariable is invalid.
- Can contain letters, numbers, and underscores: variable_1, my_variable2
- Case-sensitive: age and Age are different variables
  .
# Data Types
- Integers: number = 10
- Floats: pi = 3.14
- Strings: greeting = "Hello, Friends"
- Booleans: is_active = True 
- Lists: students = ["Jhon", "Alice", "Bob"]
- Tuples: subjects = ('Math', 'Art', 'English')
- Sets: my_set = {"apple", "banana", "cherry"}
- Dictionaries: person = {"name": "Alice", "age": 30, "hobbies":["art","hiking","cooking"}

# Creating Varibles

In [116]:
# Python is dynamically typed, no need to declare the type of a variable explicitly
x=5
print(x)
x='Python is easy'
print(x)

5
Python is easy

In [117]:
Case="Upper case's"
case='lower case' 

print(Case)
print(case)

Upper case's
lower case

In [118]:
# swap varibles
x,y='varible number 1', 'varible number 2'
print(x,y)
x,y=y,x 
print(x,y)

varible number 1 varible number 2
varible number 2 varible number 1

In [119]:
string_var=str(5) # output '5'
int_var=int(5) # output 5
float_var=float(5) # output 5.0

#print(string_var+int_var)

In [120]:
# Python Booleans True, False
x=True #boolean
print(type(x)) 
x="True" #string
print(type(x))

<class 'bool'>
<class 'str'>

In [121]:
#False and 0 are considered the same value
x=0 #int
print(type(x))

if x==False:
    print("It's False")

<class 'int'>
It's False

In [122]:
#False and 0 are considered the same value
x=int(0) #int
print(type(x))

if x==False:
    print("It's False")

<class 'int'>
It's False

In [123]:
#True and 1 are considered the same value, False and 0 are considered the same value
x=1 #int
print(type(x))

if x==True:
    print("It's True")

<class 'int'>
It's True

# Lists
List items are ordered, changeable, allow different data types and allow duplicate values.

In [124]:
my_grocery_list=['apples','milk','bread','rice','potato']
print(len(my_grocery_list))

5

In [125]:
# Ordered
print(my_grocery_list[2])
print(my_grocery_list[-2])

bread
rice

In [126]:
# Changeable
my_grocery_list.append(34) # add integer at the end of the list
my_grocery_list

['apples', 'milk', 'bread', 'rice', 'potato', 34]

In [127]:
my_grocery_list.insert(1, True) # add item at a specified index of the list
my_grocery_list

['apples', True, 'milk', 'bread', 'rice', 'potato', 34]

In [128]:
my_grocery_list[2]='potato' # replace item at a specified index of the list
my_grocery_list

['apples', True, 'potato', 'bread', 'rice', 'potato', 34]

In [129]:
my_grocery_list.remove('potato') # remove by name
my_grocery_list

['apples', True, 'bread', 'rice', 'potato', 34]

In [130]:
my_grocery_list.pop(1) # remove the specified index
my_grocery_list

['apples', 'bread', 'rice', 'potato', 34]

In [131]:
#slicing
print(my_grocery_list[:3]) # first 3 items
print(my_grocery_list[3:]) # everething after first 3 items
print(my_grocery_list[:-3]) # everething but last 3 items
print(my_grocery_list[-3:]) # last 3 items

['apples', 'bread', 'rice']
['potato', 34]
['apples', 'bread']
['rice', 'potato', 34]

In [132]:
# nested lists
my_grocery_list.append(['item1', 'item2', 'item3'])
my_grocery_list

['apples', 'bread', 'rice', 'potato', 34, ['item1', 'item2', 'item3']]

In [133]:
my_grocery_list[5][0]

'item1'

# Tuple 
Tuple items are ordered, unchangeable, and allow duplicate values.

In [134]:
my_stuff=('Thing number 1', 34, False,34,['item1', 'item2', 'item3'])
my_stuff

('Thing number 1', 34, False, 34, ['item1', 'item2', 'item3'])

In [135]:
print(my_stuff[1])

34

# Set Items
Set items are unordered, updatable, and do not allow duplicate values.

In [136]:
set_of_clothes={'dress', 'pants', 1, False}
set_of_clothes

{1, False, 'dress', 'pants'}

In [137]:
set_of_clothes.add('socks')
set_of_clothes

{1, False, 'dress', 'pants', 'socks'}

In [138]:
set_of_clothes.remove('pants')
set_of_clothes

{1, False, 'dress', 'socks'}

In [139]:
# False and 0 is considered the same value
set_of_clothes.add('0')
set_of_clothes

{'0', 1, False, 'dress', 'socks'}

In [140]:
# True and 1 is considered the same value
set_of_clothes.add(True)
set_of_clothes

{'0', 1, False, 'dress', 'socks'}

# Dictionary
Dictionaries are used to store data values in key:value pairs.
A dictionary is a collection which is ordered, changeable and do not allow duplicates.
A dictionary can contain dictionaries, this is called nested dictionaries.

In [141]:
python_class={'level':'E0','number of students':3}
python_class

{'level': 'E0', 'number of students': 3}

In [142]:
python_class['mentor']='Eva'
python_class

{'level': 'E0', 'number of students': 3, 'mentor': 'Eva'}

In [143]:
# No duplicates
python_class['mentor']='Adam'
python_class

{'level': 'E0', 'number of students': 3, 'mentor': 'Adam'}

In [144]:
# remove item
python_class.pop("number of students")
python_class

{'level': 'E0', 'mentor': 'Adam'}

In [145]:
# multilevel access
topics=['variables','loops', 'functions']
python_class['topics']=topics
python_class

{'level': 'E0',
 'mentor': 'Adam',
 'topics': ['variables', 'loops', 'functions']}

In [146]:
print(python_class['topics'][0])

variables

In [147]:
student_1=dict(name = "John", age = 36, major = "Computer Science")
student_1

{'name': 'John', 'age': 36, 'major': 'Computer Science'}

In [148]:
# Nested dictionary
student_2=dict(name = "Bob", age = 28, major = "Data Science")
student_3=dict(name = "Alice", age = 43, major = "Computer Science")

python_class['students']={'Student 1':student_1,
                          'Student 2':student_2,
                          'Student 3':student_3,
                         }

python_class

{'level': 'E0',
 'mentor': 'Adam',
 'topics': ['variables', 'loops', 'functions'],
 'students': {'Student 1': {'name': 'John',
   'age': 36,
   'major': 'Computer Science'},
  'Student 2': {'name': 'Bob', 'age': 28, 'major': 'Data Science'},
  'Student 3': {'name': 'Alice', 'age': 43, 'major': 'Computer Science'}}}